body{
    font-family: "open-sans", sans-serif;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
}

header{
    background-color: #07273b;
    padding: 16px 0;
    margin 0;
}

header h1{
    color: white;
    font-size: 40px;
    font-weight: 100px;
    font-style: italic;
    display: inline-block;
    position:relative;
    bottom:35px;
    left: 5px;
    }
    
header img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-left: 10px;
} 

.titulo{
    margin: 0;
    position: relative;
    align-items: center;
}

nav{
    background-color: #004f69;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li a{
    color: white;
    text-decoration: none;
    padding: 3px 6px;
    display: block;
    text-align: center;
    padding: 0 40px;
}

nav ul li a:hover{
    background-color: rgba(0,0,0,0.3);
}

footer{
    background-color: #ccc;
    clear: both;
    color: #333;
    text-align: center;
    padding: 5px 0;
}

nav ul li a.activo{
    background-color: #07273b;
}

main{
    background-color: beige;

}

.autos img{
    height: 200px;
    width: 250px;
    margin: 20px 0 10px 10px;
    border: solid 2px dimgray;
    cursor: pointer;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    
}

.usados img{
    height: 200px;
    width: 250px;
    margin: 20px 0 10px 10px;
    border: solid 2px dimgray;
    cursor: pointer;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
}



.motos img{
    height: 200px;
    width: 250px;
    margin: 20px 0 10px 10px;
    border: solid 2px dimgray;
    cursor: pointer;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

main h2{
    text-decoration: underline;
    margin: 0 0 0 ;
    color: black;   
    padding-top: 10px;
    padding-left: 15px;
}