body{
    font-family: "open-sans", sans-serif;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
}

header{
    background-color: #07273b;
    padding: 16px 0;
    margin 0;
}

header h1{
    color: white;
    font-size: 40px;
    font-weight: 100px;
    font-style: italic;
    display: inline-block;
    position:relative;
    bottom:35px;
    left: 5px;
    }
    
header img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-left: 10px;
} 

.titulo{
    margin-top: 2px;
    position: static;
    align-items: center;
}

.titulo h1{
    margin-top: 60px;
    font-size: 40px;
    font-weight: 100px;
}

header img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-left: 10px;

}

nav{
    background-color: #004f69;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li a{
    color: white;
    text-decoration: none;
    padding: 3px 6px;
    display: block;
    text-align: center;
    padding: 0 40px;
}

nav ul li a:hover{
    background-color: rgba(0,0,0,0.3);
}

footer{
    background-color: #ccc;
    clear: both;
    color: #333;
    text-align: center;
    padding: 5px 0;
    margin-top: 20px;
}

nav ul li a.activo{
    background-color: #07273b;
}

.holder{
    max-width: 960px;
    margin: 0 auto;
}

.servicio{
    border: 1px solid #ccc;
    border border-radius:10px;
    padding: 16px;
    margin: 16px 0;
    display:flex;
    gap: 32px;
    align-items:center;
}

.servicio .info p{
    font-size: 13px;
}

.servicio img{
    border-radius: 13px;
    display: block;
    max-width: 225px;
}

.servicio:nth-child(even) {
    flex-direction: row-reverse;
}

.carousel-item img{
    max-width: 1300px;
    height: 650px;
    margin: 0 20px;
}
