html{
    font-family: 'Montserrat', sans-serif;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

header{
    background-color: #364552;
    height: 100px;
    text-align: center;
    color: white;
    border: solid black 1px;
    
}

#inicio {
padding-top: 30px;
}


main{
    background-color: white;
    

}

Img{
height: 400px;
width: 450px;
margin: 50px 100px;
border: solid gray 1px;

}



.constaisner {
margin: 50px 100px;
height: 400px;
width: 450px;
border: solid gray 1px;
border-radius: 1px;
float: right;


}

.constaisner h3 {
    font-size: 30px;
    margin-top: 40px;
    margin-left: 20px;  
    font-style: italic;
}

.constaisner ul{
    margin-top: 70px;
    margin-left: 20px;
    
}

.constaisner li{
    margin-left: 20px;
    padding: 10px;
}

footer{
    background-color: #1e1e1bff;
    color: white;
    margin: 5px 0px;
    height: 100px;
    text-align: center;
    margin: 0 auto;
}

footer a{
 color: white;
 margin: 0;
 padding: 0 10px;
}


