*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    background-color: gray;
    height: 50px;
    
}

main{
    background-color:darkseagreen;
    padding: 10px;

}

Img{
height: 500px;
width: 50%;
text-align: center;
border-style: solid;
border-color: black;
}

footer{
    background-color: gray;
    height: 50px;
    text-align: center;
}