*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    background-color: gray;
    height: 50px;
    
}

main{
    background-color:darkseagreen

}

Img{
height: 500px;
width: 50%;
text-align: center;

}

footer{
    background-color: gray;
    height: 50px;
    text-align: center;
}