html{
    font-family: 'Montserrat', sans-serif;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

header{
    background-color: #364552;
    height: 100px;
    text-align: center;
    color: white;
    border: solid black 1px;
    
}

#inicio {
padding-top: 30px;
}


main{
    background-color: white;
    

}

Img{
height: 400px;
width: 450px;
margin: 80px 100px;
border: inset #8bc99a 3px;

}



.constaisner {
margin: 80px 100px;
height: 400px;
width: 450px;
border-radius: 1px;
float: right;
cursor: pointer;
}

.constaisner:hover {
    background-color: gray;
    border: inset #8bc99a 3px;
    border-radius: 10px;
}

.constaisner h3 {
    font-size: 30px;
    margin-top: 40px;
    margin-left: 20px;  
    font-style: italic;
}

.constaisner ul{
    margin-top: 70px;
    margin-left: 20px;
    
}

.constaisner li{
    margin-left: 20px;
    padding: 10px;
}

footer{
    background-color: #1e1e1bff;
    color: white;
    height: 80px;
    text-align: center;
    padding: 5px;
    
}

footer a{
 color: white;
 margin: 0;
 padding: 0 10px;
 text-decoration: none;
}

footer a:hover{
    color: gray;
}

.experiencias{
background-color: beige;
height: 420px;
width: 430px;
border: solid gray 1px;
margin:  0px 5px 0px 10px;
padding: 0px 20px;
display: inline-block;
cursor: pointer;
}

.experiencias:hover{
    box-shadow: 0 0.1rem 0.4rem black;

}

.experiencias li{
    margin-top: 30px;
    padding: 5px 0px;
}
.experiencias h3 {
    background-color: #8bc99a;
}

.estudios{
    background-color: beige;
    height: 400px;
    width: 430px;
    border: solid gray 1px;
    margin: 0px 5px;
    padding: 0px 20px;
    display: inline-block; 
    cursor: pointer;
}

.estudios:hover{
    box-shadow: 0 0.1rem 0.4rem black;
}
.estudios li{
    margin-top: 30px;
    padding: 5px 0px;
}

.estudios h3{
    background-color: #8bc99a;
}

.hobbies{
    background-color: beige;
    height: 400px;
    width: 430px;
    border: solid gray 1px;
    margin: 0px 10px 0px 5px;
    padding: 0px 20px;
    display: inline-block;
    cursor: pointer;
}
.hobbies:hover{
    box-shadow: 0 0.1rem 0.4rem black;
}
.hobbies p{
    margin-top: 30px;
    padding: 5px 0px;
}
.hobbies h3{
    background-color: #8bc99a;
}



.forms{
    background-color: #8bc99a;
    
}

.forms a{
    color: black;
}

.forms a:hover{
    color: blueviolet;
}